*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100vh;
}

nav {
    background: #2e2e2e;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav span {
    color: white;
    margin-right: 15px;
}

header{
    background-color: #D7B899;
    width: 100%;
    height: 7.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p{
        width: 50%;
        height: 100%;
        font-size: 6vh;
        font-weight: bolder;
        color: #f5e6cc;
        text-shadow: #4b2e2e -4px 4px;
    }
}
main{
    background-color: #faf7f2;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-3-vendas{
    width: 80%;
    height: 45%;
    background-color: #f5e6cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1{
        font-size: 4vh;
        width: 100%;
        text-align: center;
        margin-top: none;
    }
    .big-three{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .top3{
            width: 25%;
            display: flex;
            flex-direction: column-reverse;
            color: #f5e6cc;
            transition: ease-in-out 1s;
            .podio{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            img{
                width: 25%;
                max-width: 25%;
                height: 25%;
                max-height: 50%;
                outline: none;
            }
        }
        .top3:nth-child(1) .podio{
            height: 33%;
            background-color: #6f4e37;
            font-size: 30px;
        }
        .top3:nth-child(2) .podio{
            height: 44%;
            background-color: #4b2e2e;
            font-size: 40px;
        }
        .top3:nth-child(3) .podio{
            height: 22%;
            background-color: #8b5e3c;
            font-size: 20px;
        }
    }
}
footer{
    height: 2.5%;
    width: 100%;
    background-color: #8b5e3c;
}